body{
    background-color: #dbdbdb;
    margin: 0;
    padding: 0;

}
.main{
    margin-left: 5em;
    margin-right: 5em;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}
.nav1{
    cursor: pointer;
    padding: 10px 15px;
    text-align: left;
    color: #090A0B;
    font-size: 2em;
}
.nav1:hover{
    padding: 20pxpx 17px;
    background-color: #5D5D5F;
    border-radius: 10px;
    color: #7D8594;
}
ul li {
    display: inline-block;;
    list-style: none;
}
ul li a{
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.3em;
    color: #5D5D5F;
}
ul li a:hover{
    color: #956D57;
    background-color: #7D8594;
    border-radius: 10PX;
}
.phone{
    display: inline-block;
}
.phone img{
    height: 2em;
    width: 2em;
    border-radius: 30px;
}
.phone p{
    color: #5D5D5F;
    font-size: 1.3em;
    padding: 10px 7px 10px 2px;
}
.Pphone p:hover{
    color:#956D57;
}
.main2{
    display: flex;
    margin-right: 7em;
    margin-left: 7em;
    margin-top: 10%;
    height: 70%;
}
.main2 img{
    height: 600px;
    width: 500px;
    margin-left: 50%;
    object-fit: fill;
    position: absolute;
    float: right;
}
.submain{
    margin-right: 10%;
    width: 45%;
}
.submain .p1{
    color: #956D57;
    font-style: italic;
}
.submain h2{
    font-size: 5em;
    margin: 3px;
   
}
.button1{
    padding: 8px 10px;
    background-color: #090a0b;
    color: #DBDBDB;
    border-color: #090A0B;
    font-size: 1em;
    border-radius: 4px;
}
.button2{
    padding: 8px 10px;
    color: #090a0b;;
    border-color: #DBDBDB;
    font-size: 1em;
    margin-left: 7px;
}
.footer{
    height: 50%;
    background-color: #090A0B;
    margin-top: 2%;
    
}
.footer .footerp{
    color: #989DAB;
    margin-left: 12em;
    padding-top: 2em;
}
.bottom{
    display: flex;
    margin-left: 12em;
    font-family: 'Times New Roman', Times, serif;
}
.bottom p{
    color: #DBDBDB;
    margin-bottom: -7px;
}
.bottom1{
    padding-right: 4em;
    padding-bottom: 2px;
}
.bottom2{
    padding-right: 4em;
}
.bottom3{
    padding-right: 4em;
}
strong{
    color: #956D57;
    font-size: 0.7em;
}
.bottomp{
    font-size: 3em;
}
.newerp{
    margin-top: 1px;
    padding-right: 3em;
    padding-top: 4px;
    color: #7D8594;
}
.final{
    background-color: #090A0B;
    display: flex;
}
.final img{
    margin-right: 10%;
    margin-left: 12em;
    margin-top: 8em;
    box-shadow: rgba(255, 255, 255) 0px 5px 10px;
    object-fit: fill;
    height: 38em;
    width:29em;
}
.finalp1{
    margin-top: 7em;
    color: #956D57;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: -40px;
}
.finalpart h2{
    color: #DBDBDB;
    font-size: 4em;
}
.h21{
    margin-bottom: -70px;
}
.h22{

}
.finalp2,.finalp3{
    color: #989DAB;
}
.list{
    margin-left: -53px;
}
.list li{
    padding-top: 8px;
}
.list li a{
    color: #DBDBDB;
}
.list .list1:hover{
    color: #956D57;
    padding: 0;
    background-color: #090A0B;
}
h6{
    color: #DBDBDB;
    font-size: 1em;
    padding-top: -3px;
    font-style: italic;
}